body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  color: black;
  margin: 0;
  line-height: 1.7;
}

header {
  background-color: rgb(244, 194, 194);
  color: #4a4a4a;
  padding:4rem 2rem;
  text-align: center;
}

main {
  padding: 3rem 2rem;
  text-align: left;
  max-width: 1100px;
  margin: auto;
}

nav {
  text-align: center;
  width:100%;
  padding: 1rem 0;
}

nav ul {
  padding: 0;
  margin: 0;
    background-color: white;
  
}

nav ul li {
 display: inline-block;
  margin: 0.5rem;
  font-size: 1rem;
  padding: 0.9rem 1.5rem;
  border-radius: 2rem;
  transition: all 0.3s ease;
  cursor: pointer
}

nav ul li:hover {
  background-color: #f4d6d6;
}

nav ul li:active {
   background-color: #b76e79;
  color: white;
  transform: scale(0.97);
}

/* Menú vertical en móvil */
@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin: 0.8rem auto;
    width: 80%;
  }
}

h1 {
  font-family: Sofia;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

a {
  color:#b76e79;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 4rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #b76e79;
}

/* FORMULARIO */
form {
  width: 100%;
  font-size: 1rem;
}

input,
textarea,
select {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.8rem;
  background-color: #fdf2f4;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 1rem;
  background-color: #d8a7b1;
  color: #5c4b51;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

footer {
   margin-top: 3rem;
  padding: 2rem;
  font-size: 1rem;
  color: #8a6f75;
  text-align: center;
  background-color: #fff1f2;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-family: Helvetica, sans-serif;
  margin-top: 2rem;
}

th, td {
   border: 1px solid #ddd;
  padding: 12px;
  font-size: 1rem;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

thead {
  background-color: #fdecef;
}

/* Móvil */
@media (max-width: 768px)) {
  th, td {
    font-size: 12px;
    padding: 4px;
  } 
  }
    flores {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.flores span {
  position: absolute;
  top: -10%;
  font-size: 2rem;
  animation: caer 10s linear infinite;
}

.flores span:nth-child(1) {
  left: 10%;
  animation-duration: 8s;
}

.flores span:nth-child(2) {
  left: 30%;
  animation-duration: 12s;
}

.flores span:nth-child(3) {
  left: 50%;
  animation-duration: 10s;
}

.flores span:nth-child(4) {
  left: 70%;
  animation-duration: 14s;
}

.flores span:nth-child(5) {
  left: 90%;
  animation-duration: 9s;
}

@keyframes caer {
  0% {
    transform: translateY(-100px) rotate(0deg);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}
  @media (max-width: 600px) {
  .flores span {
    font-size: 1.1rem;
  }

  .flores span:nth-child(n+5) {
    display: none; 
  }
  }
}


